nav {
    display: inline;
}

.little_img {
    max-width: 30%;
}

.char_art {
    display: flex;
}

.char_art>.char_text {
    padding-top: 5px;
    min-width: 80%;
}

.char_art>.char_img {
    max-width: 20%;
}

.char_art>.char_img>img {
    max-height: 200px;
}